{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="">
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }} {% if field.flags.required %}*{% endif %}</label>
                <div>{{ field }}</div>
                {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}                
            </div>
        {% endfor %}
        <div class="form-group">
            <input class="btn btn-primary" id="submit" title="Send" type="submit" value="Send">
            <a class="btn btn-danger" href="{{ app.router['main'].url() }}">Cancel</a>
        </div>
    </form>
{% endblock %}