{% extends 'base.html' %}

{% block content %}
	<div id="game" 
		data-id="{{ game_id }}"
		data-url="{{ url }}" 
		data-user="{{ user_id }}"
		data-winner="{{ game_info.winner_id|int }}"
		data-in-game="{{ current_user_in_game }}"
		data-next-user="{{ next_user_id }}">
		<h3 class="game__players__title">Players</h3>
		<ul class="game__players">
			{% for user in game_users %}
				<li id="player_{{ user.id }}">{{ user.login }}</li>
			{% endfor %}
		</ul>
		<div class="game__field">
			{% for i in game_size %}
				<div>
					{% for j in game_size %}
<button 
	id="move_{{ i }}_{{ j }}" 
	data-i="{{ i }}" 
	data-j="{{ j }}" 
	autocomplete="off"
	type="button"{% if data_moves[i][j] %} disabled>{{ data_moves[i][j] }}{% else %}>-{% endif %}</button>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
	<div><a class="btn btn-default" href="{{ app.router['main'].url() }}">Back to list</a></div>
	<div id="log" class="log"></div>
{% endblock %}

{% block footer %}
	<script type="text/javascript">window.STATUS={{ response_status }};</script>
    <script src="{{ app.router.static.url(filename='app.js') }}"></script>
{% endblock %}