{% extends 'base.html' %}

{% block content %}
	<div id="game" 
		data-id="{{ game_id }}"
		data-url="{{ url }}" 
		data-user="{{ user_id }}"
		data-in-game="{{ current_user_in_game }}">
		<h4>Players</h4>
		<ul>
			{% for user in game_users %}
				<li>{{ user.login }}</li>
			{% endfor %}
		</ul>
		<div class="game__field">
			{% for i in game_size %}
				<div>
					{% for j in game_size %}
						<button id="move_{{ i }}_{{ j }}" name="move[{{ i }}][{{ j }}]" data-i="{{ i }}" data-j="{{ j }}" type="button"
							{% if data_moves[i][j] %}disabled="disabled">{{ data_moves[i][j] }}{% else %}>&nbsp;{% endif %}
						</button>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
	<div id="log"></div>
{% endblock %}

{% block footer %}
	<script type="text/javascript">window.STATUS={{ response_status }};</script>
    <script src="{{ app.router.static.url(filename='app.js') }}"></script>
{% endblock %}