<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid"> 
                <div class="navbar-collapse">
                    <span class="navbar-brand">Tic tac toe</span>
                    {% if app.is_authorized %}
                        <span class="navbar-right">
                            <a class="btn btn-default navbar-btn" href="{{ app.router['signout'].url() }}">Sign Out</a>
                        </span>
                {% endif %}
                </div>
            </div>
        </nav>
        <h3>{{ title }}</h3>
        {% block content%}{% endblock %}
    </div>
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</html>
